body {
  background-color: #e0d3af;
}

#nav-bar {
  width: 100%;
  font-family: "Playfair Display", serif;
  text-align: center;
}

#name a {
  width: 50%;

  text-decoration: none;
  color: black;
}

.nav-elements #date {
  float: left;
  margin-left: 30px;
}

.nav-elements #price {
  float: right;
  margin-right: 30px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
