body {
  background-color: #433b1e;
  color: #f1ffff;
}

#nav-bar {
  width: 100%;
  font-family: "Playfair Display", serif;
  text-align: center;
}

#name a {
  width: 50%;

  text-decoration: none;
  color: #f1ffff;
}

.nav-elements #date {
  float: left;
  width: 150px;
  margin-left: 30px;
}

.search {
  float: right;
  margin-right: 30px;

  width: 150px;
  color: #f1ffff;

  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-bottom: 2px solid #f1ffff;
  font-size: 1.05em;
  font-family: "Playfair Display", serif;
  text-align: right;
}

::placeholder {
  color: whitesmoke;
  opacity: 1;
}

.nav-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
